<%= form_for @video, :html => { :multipart => true } do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tytuł %><br />
    <%= f.text_field :title, :size => '61' %>
  </div>
  <div class="field">
    <%= f.label :odcinek %><br />
    <%= f.number_field :episode %>
  </div>
  <div class="field">
    <%= f.label :sezon %><br />
    <%= f.collection_select :season_id, Season.all, :id, :number, :prompt => 'Wybierz sezon...' %><br />
  </div>
  <div class="field">
    <%= f.label :link_do_serialu %><br />
    <%= f.text_field :link, :size => '61' %>
  </div>
  <div class="field">
    <%= f.label :zdjęcie_do_serialu %><br />
    <%= f.file_field :photo %>
  </div>
  <br /><br /><br />
  <div class="field">
    <%= f.label :kategorie %><br />
   <ul>
    <% Category.roots.each do |category| %>
      <li>
      <%= check_box_tag 'video[category_ids][]', category.id, @video.category_ids.include?(category.id), :id => dom_id(category) %>
      <%= label_tag dom_id(category), category.name, :class => "check_box_label" %>
      </li>
      <ul>
      <% if category.children.size > 0 %>
      <% category.children.each do |children| %>
      <li>
      <%= check_box_tag 'video[category_ids][]', children.id, @video.category_ids.include?(children.id), :id => dom_id(children) %>
      <%= label_tag dom_id(children), children.name, :class => "check_box_label" %>
      <ul>
      <% if children.children.size > 0 %>
      <% children.children.each do |subchildren| %>
      <%= check_box_tag 'video[category_ids][]', subchildren.id, @video.category_ids.include?(subchildren.id), :id => dom_id(subchildren) %>
      <%= label_tag dom_id(subchildren), subchildren.name, :class => "check_box_label" %>
      <% end %>
      <% end %>
      </ul>
      </li>
      <% end %>
      <% end %>
      </ul>
    <% end %>
   </ul>
  </div>
  <div class="field">
  <%= f.label :lista_tagów %>
  <%= f.text_field :tag_list %>
  </div>
  <% if current_user.try(:admin?) %>
  <div class="field">
  <%= f.label :chcesz_opublikować_serial_na_stronie? %>
  <%= f.check_box :published %>
  </div> 
  <div class="field">
  <%= f.label :chcesz_opublikować_serial_na_stronie_głównej? %>
  <%= f.check_box :mainpage %>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
